html {/*background: url("../img/bg1.svg") repeat-y;*/
	 	background: #A7DAD3;
	  	background-position: center;
	  	text-align: center;}
body {color: #68564A;}

.nav{	font-family: 'Droid Sans', sans-serif;
		font-size: 1em;
		color: #68564A;}

.nav{
    list-style:none;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding: 1.5em;
}

.prlhs, .lsc, .ewu, .vg, .bee, .plm, .jjs {margin: 0;
					padding: 0;}

div {text-align: left;}

p { text-indent: 1em;
	text-align: left;}

li {list-style: none;
	text-align: left;}

hr {border: .2em solid #7AB2A9;
	padding: 0em;
	margin: 1em;}
	
a {	color: #DA226C;}
a:visited 	{font-color: #E65C90;}
a:hover 	{font-color: #7AB2A9;}
a:active 	{font-color: #A7DAD3;}

#education, #educationalgallery, 
#work, #workgallery, 
#home, #contact {	border: #AEBD5E solid .25em;
					margin: .5em;
					padding: .5em;
					border-radius: .5em;}

#skills {	display: inline-block;
			float:left;}

#education 			{	/*background: url("../img/education.png") no-repeat left center white;*/}
#educationalgallery {	/*background: url("../img/educationalgallery.png") no-repeat left center ;*/}
#work				{	/*background: url("../img/work.png") no-repeat left center white;*/}
#workgallery		{	/*background: url("../img/workgallery.png") no-repeat left center white;*/}
#home				{	/*background: url("../img/home.png") no-repeat left center white;*/}

img {	display: inline-block;
		border-radius: 1em 1em 1em 1em;
		border: #DA226C solid .25em;
		height: 14em;
		width: 11em;
		margin: 0 .5em 0 1em;}

p { 	font-family: 'Droid Sans', sans-serif;
			font-size: 1em;}

h1, h2, h3, {	display: block;
				position: relative;
				text-align: left;}

h1 {font-family: 'Lobster Two', cursive;
	font-size: 3em;
	margin: 1em 0 0 0;
	padding: 0em;}

h2 {font-family: 'Lobster Two', cursive;
	font-size: 2em;}

h3 {font-family: 'Lobster Two', cursive;
	font-size: 1.5em;
	text-align: left;
	color: #E65C90;}

ul {font-family: 'Driod Sans', sans-serif;
	font-size: 1em;
	/*list-style: none;*/
	position: relative;
	float: right;
	margin: 1em;}

.tx
{               
    position: relative;
    background-color: transparent;
    text-align: center; /* horizontal centering */

    -webkit-transform: translateY(-50%); /* child now centers itself relative to the  midline based on own contents */
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=0, M21=0, M22=0.5,  SizingMethod="auto expand")'; /*IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=0, M21=0, M22=0.5,  SizingMethod='auto expand'); /*IE6, IE7*/
    transform: translateY(-50%);    





@media screen and (max-width: 320px) { h1{ overflow: hidden;}} /*Old iPhone-2 Columns*/
@media screen and (max-width: 480px) {} /*Windows Phone-2 Columns*/
@media screen and (max-width: 640px) {} /*Iphone-3 Columns*/
@media screen and (max-width: 1020px) {} /*iPad-6 Columns*/
@media screen and (max-width: 1280px) {} /*Notebook/Desktop-9 Columns*/



	