/* FONTS: font-family: 'Droid Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive; */
html {background: url("../img/bg1.svg") repeat-y;
	  background-position: center;
	  opacity: .9;}

div {}

nav, li {
	font-family: 'Droid Sans', sans-serif;
	font-size: 1em;
	color: #68564A;
	float: left;
	margin: 0 1em 0 2em;
	padding: .5em 0 1.5em;}

hr {border: .2em solid #68564A;
	margin: 6em 0 0 1em;}
	
a {	color: #DA226C;}
a:visited 	{font-color: #E65C90;}
a:hover 	{font-color: #7AB2A9;}
a:active 	{font-color: #A7DAD3;}

#education, #educationalgallery, 
#work, #workgallery, 
#home {	border: #AEBD5E solid .25em;
		margin: .5em;
		padding: .5em;
		border-radius: .5em;}

#education 			{	/*background: url("../img/education.png") no-repeat left center white;*/}
#educationalgallery {	/*background: url("../img/educationalgallery.png") no-repeat left center ;*/}
#work				{	/*background: url("../img/work.png") no-repeat left center white;*/}
#workgallery		{	/*background: url("../img/workgallery.png") no-repeat left center white;*/}
#home				{	/*background: url("../img/home.png") no-repeat left center white;*/}

img {	border-radius: 1em 1em 1em 1em;
		border: #DA226C solid .25em;
		height: 14em;
		width: 11em;
		margin: 0 .5em 0 1em;}

div {}
h1, h2, h3, ul {position: center;}
h1 {position: relative;
	margin: 1em;
	font-family: 'Lobster Two', cursive;
	font-size: 3em;}

h2 {font-family: 'Lobster Two', cursive;
	font-size: 2em;
	position: relative;
	margin: 1em;}

h3 {font-family: 'Lobster', cursive;
	font-size: 1.5em;
	background-position: center;
	margin: 1em;}

ul {font-family: 'Driod Sans', sans-serif;
	font-size: 1em;
	/*list-style: none;*/
	position: relative;
	margin: 1em;}

li {list-style: none;}



@media screen and (max-width: 320px) {} /*Old iPhone-2 Columns*/
@media screen and (max-width: 480px) {} /*Windows Phone-2 Columns*/
@media screen and (max-width: 640px) {} /*Iphone-3 Columns*/
@media screen and (max-width: 1020px) {} /*iPad-6 Columns*/
@media screen and (max-width: 1280px) {} /*Notebook/Desktop-9 Columns*/



	