/* FONTS: font-family: 'Droid Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive; */

img {border-radius: 1em .5em 1em .5em;
	border-color: #6854AB;}

div {background: yellow;
	font-color: blue;}

h1 {font-family: 'Lobster Two', cursive;
	font-size: 3em;}

h2 {font-family: 'Lobster Two', cursive;
	font-size: 2em;}

h3 {font-family: 'Lobster', cursive;
	font-size: 1.5em;}

ul {font-family: 'Driod Sans', sans-serif;
	font-size: 1em;
	list-style:; none;}

li {list-style: none;}



@media screen and (max-width: 320px) {} /*Old iPhone-2 Columns*/
@media screen and (max-width: 480px) {} /*Windows Phone-2 Columns*/
@media screen and (max-width: 640px) {} /*Iphone-3 Columns*/
@media screen and (max-width: 1020px) {} /*iPad-6 Columns*/
@media screen and (max-width: 1280px) {} /*Notebook/Desktop-9 Columns*/



	